
* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 62.5%; /* this makes 1em = 10px */
	background-color: #F3F1F9;
	
}

.navigationBar {
	display: grid ;
	grid-template-columns: 25% 75%;
	background-color: #270483;
/*	background-color: #630480;*/
	height: 60px;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 10;

}

nav {
	/*justify-self: end;*/
	display: flex;
	justify-content: space-evenly; 
}

nav a {
	align-self: center;
	color: white;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	font-size: 2em;
	padding: 8px;
	border-radius: 5px;
}

.navigationBar div {
	padding: 15px 0px 10px 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	color: #F4E4FC;
}

.container {
	padding-top: 20px;
	padding-left: 5%;
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	color: #270483;
}

video {
	z-index: -1;
    height: 100%;
    width: 100%;
}	

.intro {
	padding: 10% 5% 5% 5%;
	font-family: 'Poppins', sans-serif;
	z-index: 10;
	position: absolute;
	top: 10%;
	left: 16px;
	z-index:2;
	color: white;

}

.intro h1 {
	font-size: 5em;
}
.intro h2 {
	font-size: 3em;
}


